<html>
    <head>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">google.load("jquery", "1.6.2");</script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <form action="" id="form">
            <input type="text" name="message" id="message" />
            <input type="submit" />
        </form>
        <hr />
        <dl id="list"></dl>
    </body>
</html>